boot.img filter=lfs diff=lfs merge=lfs -text
bootRE/boot.elf filter=lfs diff=lfs merge=lfs -text
system_ext/priv-app/TranAodApk/TranAodApk.apk filter=lfs diff=lfs merge=lfs -text
system_ext/priv-app/TranSettingsApk/TranSettingsApk.apk filter=lfs diff=lfs merge=lfs -text
system_ext/priv-app/SmartCaller/SmartCaller.apk filter=lfs diff=lfs merge=lfs -text
system_ext/apex/com.android.vndk.v30.apex filter=lfs diff=lfs merge=lfs -text
system_ext/app/HealthLife/HealthLife.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/TranssionVideoEdit/TranssionVideoEdit.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/SmartPanel/SmartPanel.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/EasyPicService/EasyPicService.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/FaceID/FaceID.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/AiGallery/AiGallery.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/TranssionCamera/TranssionCamera.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/MiraVision/MiraVision.apk filter=lfs diff=lfs merge=lfs -text
system/system/apex/com.android.virt.apex filter=lfs diff=lfs merge=lfs -text
system/system/apex/com.android.btservices.apex filter=lfs diff=lfs merge=lfs -text
system/system/apex/com.google.android.art.apex filter=lfs diff=lfs merge=lfs -text
product/priv-app/Velvet/Velvet.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/Vivid/Vivid.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/SmartWallpaper/SmartWallpaper.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/Phonesky/Phonesky.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/ARCore/ARCore.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/GmsCore/GmsCore.apk filter=lfs diff=lfs merge=lfs -text
product/etc/easypic/easypic_text_L4_E200_final_fp16_encry.mnn filter=lfs diff=lfs merge=lfs -text
product/etc/easypic/easypic_image_vit32_int8_encry.mnn filter=lfs diff=lfs merge=lfs -text
product/app/SpeechServicesByGoogle/SpeechServicesByGoogle.apk filter=lfs diff=lfs merge=lfs -text
product/app/TrichromeLibrary/TrichromeLibrary.apk filter=lfs diff=lfs merge=lfs -text
product/app/AICoreService/AICoreService.apk filter=lfs diff=lfs merge=lfs -text
product/app/AIVoiceAssistant_v3.5/AIVoiceAssistant_v3.5.apk filter=lfs diff=lfs merge=lfs -text
product/app/WebViewGoogle/WebViewGoogle.apk filter=lfs diff=lfs merge=lfs -text
product/app/LatinImeGoogle/LatinImeGoogle.apk filter=lfs diff=lfs merge=lfs -text
vendor/lib64/libstfaceunlockppl.so filter=lfs diff=lfs merge=lfs -text
vendor/lib64/libst_sr_models.so filter=lfs diff=lfs merge=lfs -text
vendor/lib64/libaibc_tuning.so filter=lfs diff=lfs merge=lfs -text
vendor_boot.img filter=lfs diff=lfs merge=lfs -text
